body {
  margin: 2%;
  background-color: black;
  color: darkcyan;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden; 
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item3 {
  align-self: flex-end;
  justify-self: flex-end;
  /* margin-left: 280px; */

}

.personalpicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 5%;
}

.flex-item2 {
  font-size: xx-large;
  margin-top: 2%;
  font-style: italic;
  font-weight: bold;
}

.resumetitle{
  align-self: center;
  justify-self: center;
  min-height: 100px;
  
}



.image {
  height: 600px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-web.jpeg");
  background-size: cover;
  background-position: center;
}

.nested {
  display: grid;
  gap: 20px;
}

.project1 {
  grid-column: 1/3;
}

.project1:hover,
.project:hover {
  box-shadow: inset 0px 0px 8px cyan, 0 0 15px cyan;
}

.pr1image {
  align-self: flex-start;
  padding: 0, 0, 0, 0;
  margin: 0, 0, 0, 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

span[data-contact] {
  position: relative;
  cursor: pointer;
}

span[data-contact]:hover::after,
span[data-contact]:focus::after {
  content: attr(data-contact);
  position: absolute;
  left: -20px;
  bottom: 40px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  background-color: beige;
  overflow-wrap: break-word;
  padding: 12px;
  color: darkblue;
  font-size: 50%;
  text-decoration: underline;
  z-index: 1;
}

footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  font-size: xx-large;
  width: 200px;
  margin-top: 50px;
}

/* Change styling of a element */
a {
  color: darkcyan;
  text-decoration: none;
}

.wrapper {
  display: grid;
  row-gap: 50px;
  column-gap: 5px;
  grid-template-columns: 25% 75%;
}

.box {
  /* background-color: black;
  color: #fff;*/
  line-height: 50px;
  font-size: larger;
  text-align: justify;
  width: 100%;
}




.worktitle {
  justify-self: center;
  align-self: flex-start;
}

.detailsbox {
  font-size: xx-large;
  line-height: 50px;
  justify-self: center;
  align-self: center;
  padding: 0;
  margin: 0;
}

.center{
  text-align: center;
}

.basiclink {
  text-decoration: underline;
  color: darkblue;
}
.resumecontent{
  font-size: xx-large;
}

/* a:visited{
  color: purple;
} */

/*media queries*/
/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
/*@media screen and (max-width: 992px) {
      header {
        background: #772014;
      }
    }
    
    /* Large smartphones - navbar changes color */
/* @media screen and (max-width: 768px) {
      nav {
        background-color: #bb8588;
      }
    } */

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .flex-container{
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    
    margin-top: 50px;
    margin-left: 40px;
  }

  .flex-item2 {
    margin-left: 10;
  }
  .basiclink{
    font-size: medium;
    color: cyan;
  }

  .resumetitle,.worktitle{
    font-size: small;
  }

  

}
/* Cards are split into two columns at 992px or smaller */
/* @media screen and (max-width: 992px) {
      .card {
        width: 50%;
      } */
/* Change the header color */
/* header {
        background: #772014;
      }
    } */

/* Cards are stacked on top of each other at 768px or smaller */
/* @media screen and (max-width: 768px) {
      .card {
        width: 100%;
      } */
/* Change the header color */
/* header {
        background: #8ac4ff;
      }
    } */
